<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Agents - Cambiar información</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
	<link rel="stylesheet" href="/css/Login-Form-Clean.css"/>
	<link rel="stylesheet" href="/css/Navigation-Clean.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	<link rel="shortcut icon" href="/img/favicon.png" />
</head>
<body>
<div class="super-wrapper">
	<div class="clean-wrapper">
		<h1>Cambiar contraseña</h1>
		<form method="POST" action="confirmPassword" >
			<table>
				<tr>
					<td><strong><label for="password">Contraseña: </label></strong></td>
					<td><input class="form-control" type="password" name="password" id="password"/></td>
				</tr>
				<tr>
					<td><strong><label for="newPassword">Nueva contraseña: </label></strong></td>
					<td><input class="form-control" type="password" name="newPassword" id="newPassword"/></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" class="btn btn-primary" name="confirmarCambio" value="Confirmar cambio"/></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>